<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Core List all products</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link href="../static/CSS/spring-core.css"
          th:href="@{CSS/spring-core.css}" rel="stylesheet" media="screen">
</head>
<body>

<h2> Outside reach </h2>

<div class="container">

        <h2> Product List </h2>

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
            </tr>

            <tr th:each="product : ${prod}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.desctiption}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageURL}"></td>
            </tr>

        </table>


    </div>

</div>

</body>
</html>